/*
* collect all css here
*/
@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:400,300");
#sidebar {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
}
#sidebar:before,
#sidebar:after {
  content: '';
  display: table;
}
#sidebar:after {
  clear: both;
}
#sidebar:last-child {
  margin-right: 0%;
}
#sidebar .item {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 7.3%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: 41.2%;
  font-size: 120%;
  font-weight: bold;
}
#sidebar .item:before,
#sidebar .item:after {
  content: '';
  display: table;
}
#sidebar .item:after {
  clear: both;
}
#sidebar .item:last-child {
  margin-right: 0%;
}
.post {
  *zoom: 1;
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  margin: 1%;
}
.post:before,
.post:after {
  content: '';
  display: table;
}
.post:after {
  clear: both;
}
.post .title,
.post .content,
.post .tags,
.post .categories,
.post .comments,
.post .reply {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  margin-top: 1%;
}
.post .title:before,
.post .content:before,
.post .tags:before,
.post .categories:before,
.post .comments:before,
.post .reply:before,
.post .title:after,
.post .content:after,
.post .tags:after,
.post .categories:after,
.post .comments:after,
.post .reply:after {
  content: '';
  display: table;
}
.post .title:after,
.post .content:after,
.post .tags:after,
.post .categories:after,
.post .comments:after,
.post .reply:after {
  clear: both;
}
.post .title:last-child,
.post .content:last-child,
.post .tags:last-child,
.post .categories:last-child,
.post .comments:last-child,
.post .reply:last-child {
  margin-right: 0%;
}
.post .title {
  font-weight: bold;
  font-size: 110%;
}
.post .label {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 9.875%;
  margin-left: 0%;
  margin-right: 3%;
}
.post .label:before,
.post .label:after {
  content: '';
  display: table;
}
.post .label:after {
  clear: both;
}
.post .label:last-child {
  margin-right: 0%;
}
.post .data {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 74.25%;
  margin-left: 0%;
  margin-right: 3%;
}
.post .data:before,
.post .data:after {
  content: '';
  display: table;
}
.post .data:after {
  clear: both;
}
.post .data:last-child {
  margin-right: 0%;
}
.post .tag,
.post .category {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
}
.post .tag:before,
.post .category:before,
.post .tag:after,
.post .category:after {
  content: '';
  display: table;
}
.post .tag:after,
.post .category:after {
  clear: both;
}
.post .tag:last-child,
.post .category:last-child {
  margin-right: 0%;
}
.post .date,
.post .modified {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 39.91666666666667%;
  margin-left: 0%;
  margin-right: 3%;
}
.post .date:before,
.post .modified:before,
.post .date:after,
.post .modified:after {
  content: '';
  display: table;
}
.post .date:after,
.post .modified:after {
  clear: both;
}
.post .date:last-child,
.post .modified:last-child {
  margin-right: 0%;
}
.post .cr:hover,
.post .tag:hover,
.post .category:hover {
  font-weight: bold;
  color: #00f;
}
.post .comments .comment_count_label {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 9.875%;
  margin-left: 0%;
  margin-right: 3%;
}
.post .comments .comment_count_label:before,
.post .comments .comment_count_label:after {
  content: '';
  display: table;
}
.post .comments .comment_count_label:after {
  clear: both;
}
.post .comments .comment_count_label:last-child {
  margin-right: 0%;
}
.post .comments .comment_count {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 74.25%;
  margin-left: 0%;
  margin-right: 3%;
}
.post .comments .comment_count:before,
.post .comments .comment_count:after {
  content: '';
  display: table;
}
.post .comments .comment_count:after {
  clear: both;
}
.post .comments .comment_count:last-child {
  margin-right: 0%;
}
.post .comments .comment_count:hover {
  font-weight: bold;
  color: #00f;
}
.posts .more {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: center;
}
.posts .more:before,
.posts .more:after {
  content: '';
  display: table;
}
.posts .more:after {
  clear: both;
}
.posts .more:last-child {
  margin-right: 0%;
}
.posts .more:hover {
  font-weight: bold;
  color: #00f;
}
.posts img {
  *zoom: 1;
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.posts img:before,
.posts img:after {
  content: '';
  display: table;
}
.posts img:after {
  clear: both;
}
.comment {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
}
.comment:before,
.comment:after {
  content: '';
  display: table;
}
.comment:after {
  clear: both;
}
.comment:last-child {
  margin-right: 0%;
}
.comment .author {
  margin-top: 1%;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 57.083333333333336%;
  margin-left: 0%;
  margin-right: 3%;
}
.comment .author:before,
.comment .author:after {
  content: '';
  display: table;
}
.comment .author:after {
  clear: both;
}
.comment .author:last-child {
  margin-right: 0%;
}
.comment .author .avatar {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 7.3%;
  margin-left: 0%;
  margin-right: 3%;
  min-height: 50px;
  min-width: 50px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.comment .author .avatar:before,
.comment .author .avatar:after {
  content: '';
  display: table;
}
.comment .author .avatar:after {
  clear: both;
}
.comment .author .avatar:last-child {
  margin-right: 0%;
}
.comment .author .name {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 79.4%;
  margin-left: 0%;
  margin-right: 3%;
}
.comment .author .name:before,
.comment .author .name:after {
  content: '';
  display: table;
}
.comment .author .name:after {
  clear: both;
}
.comment .author .name:last-child {
  margin-right: 0%;
}
.comment .date {
  margin-top: 1%;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
.comment .date:before,
.comment .date:after {
  content: '';
  display: table;
}
.comment .date:after {
  clear: both;
}
.comment .date:last-child {
  margin-right: 0%;
}
.comment .content {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
}
.comment .content:before,
.comment .content:after {
  content: '';
  display: table;
}
.comment .content:after {
  clear: both;
}
.comment .content:last-child {
  margin-right: 0%;
}
#albumscontainer {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
}
#albumscontainer:before,
#albumscontainer:after {
  content: '';
  display: table;
}
#albumscontainer:after {
  clear: both;
}
#albumscontainer:last-child {
  margin-right: 0%;
}
.album {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
  margin-top: 1%;
}
.album:before,
.album:after {
  content: '';
  display: table;
}
.album:after {
  clear: both;
}
.album:nth-child(4n) {
  margin-right: 0%;
  float: right;
}
.album:nth-child(4n+1) {
  clear: both;
}
.album img {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 14.166666666666664%;
  margin-left: 0%;
  margin-right: 3%;
}
.album img:before,
.album img:after {
  content: '';
  display: table;
}
.album img:after {
  clear: both;
}
.album img:last-child {
  margin-right: 0%;
}
.album a {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 65.66666666666666%;
  margin-left: 0%;
  margin-right: 3%;
}
.album a:before,
.album a:after {
  content: '';
  display: table;
}
.album a:after {
  clear: both;
}
.album a:last-child {
  margin-right: 0%;
}
#morebuttoncontainer {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  margin-top: 1%;
  text-align: center;
}
#morebuttoncontainer:before,
#morebuttoncontainer:after {
  content: '';
  display: table;
}
#morebuttoncontainer:after {
  clear: both;
}
#morebuttoncontainer:last-child {
  margin-right: 0%;
}
#picturescontainer {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
}
#picturescontainer:before,
#picturescontainer:after {
  content: '';
  display: table;
}
#picturescontainer:after {
  clear: both;
}
#picturescontainer:last-child {
  margin-right: 0%;
}
.picture {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 14.166666666666664%;
  margin-left: 0%;
  margin-right: 3%;
  margin-top: 1%;
}
.picture:before,
.picture:after {
  content: '';
  display: table;
}
.picture:after {
  clear: both;
}
.picture:nth-child(6n) {
  margin-right: 0%;
  float: right;
}
.picture:nth-child(6n+1) {
  clear: both;
}
.tweet {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  margin-top: 2%;
}
.tweet:before,
.tweet:after {
  content: '';
  display: table;
}
.tweet:after {
  clear: both;
}
.tweet:last-child {
  margin-right: 0%;
}
.tweet .profilepic {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 9.875%;
  margin-left: 0%;
  margin-right: 3%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.tweet .profilepic:before,
.tweet .profilepic:after {
  content: '';
  display: table;
}
.tweet .profilepic:after {
  clear: both;
}
.tweet .profilepic:last-child {
  margin-right: 0%;
}
.tweet .user {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 87.125%;
  margin-left: 0%;
  margin-right: 3%;
}
.tweet .user:before,
.tweet .user:after {
  content: '';
  display: table;
}
.tweet .user:after {
  clear: both;
}
.tweet .user:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
.tweet .user:nth-child(2n+1) {
  clear: both;
}
.tweet .text {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
}
.tweet .text:before,
.tweet .text:after {
  content: '';
  display: table;
}
.tweet .text:after {
  clear: both;
}
.tweet .text:last-child {
  margin-right: 0%;
}
.tweet .hashtag {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
}
.tweet .hashtag:before,
.tweet .hashtag:after {
  content: '';
  display: table;
}
.tweet .hashtag:after {
  clear: both;
}
.tweet .hashtag:nth-child(4n) {
  margin-right: 0%;
  float: right;
}
.tweet .hashtag:nth-child(4n+1) {
  clear: both;
}
.tweet .user {
  text-align: right;
}
.tweet .tweetpic {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.tweet .tweetpic:before,
.tweet .tweetpic:after {
  content: '';
  display: table;
}
.tweet .tweetpic:after {
  clear: both;
}
.tweet .profilepic,
.tweet .user,
.tweet .postedtime,
.tweet .source,
.tweet .text,
.tweet .tweetpics,
.tweet .hashtags,
.tweet .tweetpic,
.tweet .hashtag,
.tweet .verified {
  margin-top: 1%;
}
.tweet .tweetpics {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
}
.tweet .tweetpics:before,
.tweet .tweetpics:after {
  content: '';
  display: table;
}
.tweet .tweetpics:after {
  clear: both;
}
.tweet .tweetpics:last-child {
  margin-right: 0%;
}
.tweet .youtube,
.tweet .twittervideo {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  margin-top: 1%;
}
.tweet .youtube:before,
.tweet .twittervideo:before,
.tweet .youtube:after,
.tweet .twittervideo:after {
  content: '';
  display: table;
}
.tweet .youtube:after,
.tweet .twittervideo:after {
  clear: both;
}
.tweet .youtube:last-child,
.tweet .twittervideo:last-child {
  margin-right: 0%;
}
.tweet .youtube iframe,
.tweet .twittervideo iframe {
  *zoom: 1;
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 640px;
  height: 360px;
}
.tweet .youtube iframe:before,
.tweet .twittervideo iframe:before,
.tweet .youtube iframe:after,
.tweet .twittervideo iframe:after {
  content: '';
  display: table;
}
.tweet .youtube iframe:after,
.tweet .twittervideo iframe:after {
  clear: both;
}
.tweet .player {
  *zoom: 1;
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 640px;
  height: 360px;
}
.tweet .player:before,
.tweet .player:after {
  content: '';
  display: table;
}
.tweet .player:after {
  clear: both;
}
#options {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
}
#options:before,
#options:after {
  content: '';
  display: table;
}
#options:after {
  clear: both;
}
#options:last-child {
  margin-right: 0%;
}
#options #home,
#options #trends {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 9.875%;
  margin-left: 0%;
  margin-right: 3%;
  margin-top: 1%;
}
#options #home:before,
#options #trends:before,
#options #home:after,
#options #trends:after {
  content: '';
  display: table;
}
#options #home:after,
#options #trends:after {
  clear: both;
}
#options #home:last-child,
#options #trends:last-child {
  margin-right: 0%;
}
#content {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
}
#content:before,
#content:after {
  content: '';
  display: table;
}
#content:after {
  clear: both;
}
#content:last-child {
  margin-right: 0%;
}
#content .more {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: center;
}
#content .more:before,
#content .more:after {
  content: '';
  display: table;
}
#content .more:after {
  clear: both;
}
#content .more:last-child {
  margin-right: 0%;
}
#trendscontent {
  margin-top: 1%;
}
#trendscontent #countryname,
#trendscontent #gettrends,
#trendscontent #trendslist {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 29.52631578947368%;
  margin-left: 0%;
  margin-right: 3%;
  margin-top: 1%;
}
#trendscontent #countryname:before,
#trendscontent #gettrends:before,
#trendscontent #trendslist:before,
#trendscontent #countryname:after,
#trendscontent #gettrends:after,
#trendscontent #trendslist:after {
  content: '';
  display: table;
}
#trendscontent #countryname:after,
#trendscontent #gettrends:after,
#trendscontent #trendslist:after {
  clear: both;
}
#trendscontent #countryname:nth-child(3n),
#trendscontent #gettrends:nth-child(3n),
#trendscontent #trendslist:nth-child(3n) {
  margin-right: 0%;
  float: right;
}
#trendscontent #countryname:nth-child(3n+1),
#trendscontent #gettrends:nth-child(3n+1),
#trendscontent #trendslist:nth-child(3n+1) {
  clear: both;
}
#trendscontent #search {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  margin-top: 1%;
}
#trendscontent #search:before,
#trendscontent #search:after {
  content: '';
  display: table;
}
#trendscontent #search:after {
  clear: both;
}
#trendscontent #search:last-child {
  margin-right: 0%;
}
#trendscontent #start,
#trendscontent #pause,
#trendscontent #resume,
#trendscontent #stop {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
  margin-top: 1%;
  text-align: center;
}
#trendscontent #start:before,
#trendscontent #pause:before,
#trendscontent #resume:before,
#trendscontent #stop:before,
#trendscontent #start:after,
#trendscontent #pause:after,
#trendscontent #resume:after,
#trendscontent #stop:after {
  content: '';
  display: table;
}
#trendscontent #start:after,
#trendscontent #pause:after,
#trendscontent #resume:after,
#trendscontent #stop:after {
  clear: both;
}
#trendscontent #start:nth-child(4n),
#trendscontent #pause:nth-child(4n),
#trendscontent #resume:nth-child(4n),
#trendscontent #stop:nth-child(4n) {
  margin-right: 0%;
  float: right;
}
#trendscontent #start:nth-child(4n+1),
#trendscontent #pause:nth-child(4n+1),
#trendscontent #resume:nth-child(4n+1),
#trendscontent #stop:nth-child(4n+1) {
  clear: both;
}
#trendscontent #trendstweets {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  margin-top: 2%;
}
#trendscontent #trendstweets:before,
#trendscontent #trendstweets:after {
  content: '';
  display: table;
}
#trendscontent #trendstweets:after {
  clear: both;
}
#trendscontent #trendstweets:last-child {
  margin-right: 0%;
}
#trendscontent #gettrends {
  text-align: center;
}
#dmain {
  *zoom: 1;
  width: auto;
  max-width: 65%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  font-family: 'Source Sans Pro', 'sans-serif';
}
#dmain:before,
#dmain:after {
  content: '';
  display: table;
}
#dmain:after {
  clear: both;
}
#dmain a {
  text-decoration: none;
}
