/*
* comments.styl - comments css
*/
.comment .author {
  margin-top: 1%;
}
.comment .author .avatar {
  min-height: 50px;
  min-width: 50px;
  border-radius: 5px;
}
.comment .date {
  margin-top: 1%;
}
