/*
* posts.styl - posts css
*/
.post {
  margin: 1%;
}
.post .title,
.post .content,
.post .tags,
.post .categories,
.post .comments,
.post .reply {
  margin-top: 1%;
}
.post .title {
  font-weight: bold;
  font-size: 110%;
}
.post .cr:hover,
.post .tag:hover,
.post .category:hover {
  font-weight: bold;
  color: #00f;
}
.post .comments .comment_count:hover {
  font-weight: bold;
  color: #00f;
}
.posts .more {
  text-align: center;
}
.posts .more:hover {
  font-weight: bold;
  color: #00f;
}
