/*
* trends.styl
*/
#trendscontent {
  margin-top: 1%;
}
#trendscontent #countryname,
#trendscontent #gettrends,
#trendscontent #trendslist {
  margin-top: 1%;
}
#trendscontent #search {
  margin-top: 1%;
}
#trendscontent #start,
#trendscontent #pause,
#trendscontent #resume,
#trendscontent #stop {
  margin-top: 1%;
  text-align: center;
}
#trendscontent #trendstweets {
  margin-top: 2%;
}
#trendscontent #gettrends {
  text-align: center;
}
