/*
* tweet.styl - tweet css
*/
.tweet {
  margin-top: 2%;
}
.tweet .profilepic {
  border-radius: 5px;
}
.tweet .user {
  text-align: right;
}
.tweet .tweetpic {
  border-radius: 5px;
}
.tweet .profilepic,
.tweet .user,
.tweet .postedtime,
.tweet .source,
.tweet .text,
.tweet .tweetpics,
.tweet .hashtags,
.tweet .tweetpic,
.tweet .hashtag,
.tweet .verified {
  margin-top: 1%;
}
.tweet .youtube,
.tweet .twittervideo {
  margin-top: 1%;
}
.tweet .youtube iframe,
.tweet .twittervideo iframe {
  border-radius: 5px;
  width: 640px;
  height: 360px;
}
.tweet .player {
  border-radius: 5px;
  width: 640px;
  height: 360px;
}
#options #home,
#options #trends {
  margin-top: 1%;
}
#content .more {
  text-align: center;
}
