/*
* album.styl - album css
*/

#albumscontainer
	column(1)

.album
	column(1/4, cycle:4)
	margin-top: 1%
	img
		column(1/6)
	a
		column(4/6)

#morebuttoncontainer
	column(1)
	margin-top: 1%
	text-align: center