/*
* comments.styl - comments css
*/

.comment
	column(1)
	.author
		margin-top: 1%
		column(7/12)
		.avatar
			column(1/10)
			min-height: 50px
			min-width: 50px
			border-radius: 5px
		.name
			column(8/10)
	.date
		margin-top: 1%
		column(4/12)
	.content
		column(1)