/*
* posts.styl - posts css
*/

.post
	center()
	margin: 1%
	.title
	.content
	.tags
	.categories
	.comments
	.reply
		column(1)
		margin-top: 1%
	.title
		font-weight: bold
		font-size: 110%
	.label
		column(1/8)
	.data
		column(6/8)
	.tag
	.category
		column(1/4)
	.date
	.modified
		column(5/12)
	.cr:hover
	.tag:hover
	.category:hover
		font-weight: bold
		color: blue
	.comments
		.comment_count_label
			column(1/8)
		.comment_count
			column(6/8)
		.comment_count:hover
			font-weight: bold
			color: blue
.posts
	.more
		column(1)
		text-align: center
	.more:hover
		font-weight: bold
		color: blue
	img
		center()