/*
* trends.styl
*/

#trendscontent
	margin-top: 1%
	#countryname
	#gettrends
	#trendslist
		column(6/19, cycle: 3)
		margin-top: 1%
	#search
		column(1)
		margin-top: 1%
	#start
	#pause
	#resume
	#stop
		column(1/4, cycle: 4)
		margin-top: 1%
		text-align: center
	#trendstweets
		column(1)
		margin-top: 2%
	#gettrends
		text-align: center