/*
* tweet.styl - tweet css
*/

.tweet
	column(1)
	margin-top: 2%
	.profilepic
		column(1/8)
		border-radius: 5px
	.user
		column(7/8, cycle: 2)
	.text
		column(1)
	.hashtag
		column(1/4, cycle: 4)
	.user
		text-align: right
	.tweetpic
		border-radius: 5px
		center()
	.profilepic
	.user
	.postedtime
	.source
	.text
	.tweetpics
	.hashtags
	.tweetpic
	.hashtag
	.verified
		margin-top: 1%
	.tweetpics
		column(1)
	.youtube
	.twittervideo
		column(1)
		margin-top: 1%
		iframe
			center()
			border-radius: 5px
			width: 640px
			height: 360px
	.player
		center()
		border-radius: 5px
		width: 640px
		height: 360px
#options
	column(1)
	#home
	#trends
		column(1/8)
		margin-top: 1%
#content
	column(1)
	.more
		column(1)
		text-align: center